@media (max-width: 600px){

  .products{
    display: inherit;
    height: 600px;
    max-height: none;
    text-align: -webkit-center;
  }
  .product{
    margin-top: auto;
    margin-bottom: 80px;
  }
  
  .main_section{
    padding: 4%;
  }

  .product_section{
    display: inherit;
    padding: 80px;
    text-align: -webkit-center;
    padding-right: 30px;
    margin: auto;
  }

  .comentary_content{
    display: inherit;
    text-align: -webkit-center;
  }

  .mention_content{
    margin: 20px;
  }

}
